@model NewsWebsiteFront.Models.NewsDTO

@{
    ViewData["Title"] = "Edit";
}

<h4>Edit News</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="newsDescription" class="control-label"></label>
                <textarea asp-for="newsDescription" class="form-control"></textarea>
                <span asp-validation-for="newsDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imageURL" class="control-label"></label>
                <input asp-for="imageURL" type="file" class="form-control" />
                <span asp-validation-for="imageURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="publicationDate" class="control-label"></label>
                <input asp-for="publicationDate" class="form-control" />
                <span asp-validation-for="publicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" class="form-control" asp-items="@(new SelectList(ViewBag.Authors, "Id", "Name"))"></select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
    </div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
